---
interface Props {
  pageUrl: string;
  disqusIdentifier: string;
}

const { pageUrl, disqusIdentifier } = Astro.props;
---

<div id="disqus_thread" class="mt-12"></div>
<script is:inline define:vars={{ pageUrl, disqusIdentifier }}>
  const disqus_config = function () {
    this.page.url = pageUrl;
    this.page.identifier = disqusIdentifier;
  };
  (function () {
    const d = document,
      s = d.createElement("script");
    s.src = "https://section1983-org.disqus.com/embed.js";
    s.setAttribute("data-timestamp", Date.now().toString());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>
  Please enable JavaScript to view comments powered by Disqus.
</noscript>
